html,body{
    background-color: whitesmoke;
    width: 300px;
    height: auto;
}

button{
    
    margin: 20px;
}

h2{
    background-color: white;
    padding: 5px;
    margin: 20px;
   
    text-align: center;
}